<h1>Login</h1>

<div class="row">
<%=form_for(:session, url: sessions_create_path) do|formulario| %>

    <div class="form-group">
        <%=formulario.label :email%>
        <%=formulario.text_field :email, class: "form-control"%>
    </div>

    <div class="form-group">
        <%=formulario.label :password%>
        <%=formulario.password_field :password, class: "form-control"%>
    </div>

    <%= formulario.submit "Acceder", class: "btn btn-warning"%>
<% end %> 
</div>